body {
  font-family: 'Inter', 'sans serif';
  background: #f5d6c3;
  font-size: 30px;
}

h1 {
  color: #7a4c51;
  font-size: 40px;
  text-align: center;
  margin: 30px;
}

#reading {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.stock-container {
  text-align: center;
  margin-top: 30px;
}

.box13 {
  width: 500px;
  height: 300px;
  margin: 30px;
  border: 3px solid #854747;
  float: left;
  text-align: center;
  position: relative;
  border-radius: 25px
}

.box4 {
  width: 500px;
  height: 300px;
  background: #f5d6c3;
  margin: 30px;
  border: 3px solid #854747;
  float: left;
  text-align: center;
  position: relative;
  border-radius: 25px
}

.box5 {
  width: 500px;
  height: 300px;
  margin: 30px;
  border: 3px solid #854747;
  float: left;
  text-align: center;
  position: relative;
  border-radius: 25px
}

/* Navigation Bar */
nav {
  background-color: #7a4c51;
  overflow: hidden;
}

.nav-links {
  list-style-type: none;
  float: left;
}

.nav-links li {
  display: inline;
  padding: 50px;
}

.nav-links a {
  padding: 50px;
  text-decoration: none;
  font-size: 20px;
  color: #f5d6c3;
  font-weight: bold;
}

.nav-links a:hover {
  color: #f8f1e2;
}

.block:hover {
  cursor: pointer;
}

.block {
  font-size: 20px;
  border: 2px;
  background-color: #7a4c51;
  color: #f5d6c3;
  padding: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: hover;
}
